<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Token</title>
</head>

<body>
    <p>Hello, verify your email address by clicking on this</p>
    <br>
    <a href="http://localhost:8000/verify/{{token}}">Click here to verify</a>
</body>

</html>